<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>poll.dance</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <link rel="stylesheet" href="<%= asset_path 'app/css/main.css'%>" />
</head>
<body>
  
  <div id="app">
    Loading ...
  </div>

  <script type="text/javascript">
    window.PD = {
      CONFIG: {
        REFRESH_DELAY: 30000, // 30 seconds at most between each refresh
        API_URL: '/api/v1/playlists/<%= params[:code] %>',
        NOTIFICATIONS_URL: '/stream/<%= params[:code] %>',
        SUGGESTIONS: <%= @suggestions.to_json %>
      }
    };
    window.BOOTSTRAP = <%= @bootstrap.to_json %>;
  </script>
  <script type="text/javascript" src="<%= asset_path 'app/js/main.js'%>"></script>

</body>
</html>
